.cta {
    
    padding: 40px 0;
	display: block;

    @include mq($mq-tab) {

        padding: 40px 0 0 0;

    }
    
    .centre-wrap {
        
        display: block;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

    }
    
    &__region {
        
        @include width(3, 5%);
        float: left;
		border: 3px solid $primaryColor;
        padding: 10px 10px 50px 10px;
        position: relative;
        
        display: block;
    
        img {
            margin-bottom: 20px;
        }

        p {
            display: block;
            margin: 0 auto 15px auto;
            @include font-size(16);
            width: 80%;
		}

		@include mq($mq-tab, min) {

			&:nth-child(n+4) {
				margin-top: 5%;
			}

			&:nth-child(4n+0) {

				margin-right: 5%;

            }
		}

        @include mq($mq-tab) {

			@include width(2, 5%);
			
            margin-bottom: 40px;

            &:nth-child(2n+1) {

				margin-right: 5%;
    			margin-bottom: 40px;

            }

        }
        
        @include mq($mq-mob--lrg) {
            
            @include width(1, 0%);

        }
        
        .lt-ie10 & {
            
            min-height: 500px;
            
		}

    }
    
    &__button {
        
        display: inline-block;
        background: $primaryColor;
        color: $secondaryFontColor;
        
        font-family: $primaryFont;
        text-transform: uppercase;
        width: 50%;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        font-weight: bold;
        margin: 0 auto;
        
        line-height: 50px;
        
        &:hover {
            
            color: $primaryColor;
            background: $secondaryFontColor;
            text-decoration: none;
            
        }

    }
    
}