.events {

    margin-top: 30px;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;

    &--margin {
        margin-top:30px;
    }

    &--full {

        margin: 0 auto;
        padding-top: 0;

        h3 {
            margin-bottom: 30px;
        }

    }

    &__container {

        width: 100%;
        overflow: hidden;
        margin: 0 auto;

        &--narrow {
            max-width: 1000px;
        }

    }

    &__slider {

        padding-top: 45px;
        position: relative;
        width: 100%;

    }

    &__months {

        color: $tertiaryFontColor;
        text-transform: uppercase;
        overflow: hidden;

        padding: 20px 100px;
        margin-bottom: 25px;

        @include mq($mq-tab) {

            padding: 20px;

        }

        @include mq($mq-mob--lrg) {

             padding: 20px 0;

        }

        ul {

            text-align: justify;
            max-height: 20px;

            @include mq($mq-mob--lrg) {

                max-height: none;

            }

            &:after {

                content: '';
                display: inline-block;
                width: 100%;
                height: 0px;

                @include mq($mq-mob--lrg) {

                    display: none;

                }

            }

            li {

                display: inline-block;

                @include mq($mq-mob--lrg) {

                    line-height: 40px;
                    @include width(6, 0%);
                    float: left;
                    text-align: center;

                }

                a {

                    &.active {

                        text-decoration: underline;

                    }

                }

            }

        }

        &--bold {
            ul {
                li {
                    font-family: $secondaryFont;

                    a.active {
                        font-weight: 600;
                        @include font-size(20);
                    }
                }
            }

        }
    }

    &__slide {

        &__image {

            overflow: hidden;
            height: 0;
            margin-bottom: 20px;
            padding-bottom: 62.5%;

            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;

        }

    }

    &__nav {

        display: block;
        position: absolute;
        top: 100px;
        left: -70px;

        font-family: $fonticon;
        color: $secondaryFontColor;

        @include font-size($hecto-size);

        &[data-direction="next"] {
            right: -70px;
            left: auto;
        }

        &:hover {
            text-decoration: none;
        }

    }

    &__info {

        width: 100%;

        @include font-size(0);

    }

    &__full-info {

        float: left;
        width: 60%;
        padding-left: 20px;

        &--wide {
            width: 100%;
            padding-left:0;
            margin-top: 2%;
        }

        @include mq($mq-mob--lrg) {
            width: 100%;
            padding-left: 0px;
        }
    }

    &__entry {

        width: 100%;
        clear: both;
        margin-bottom: 25px;
        padding-bottom: 25px;
        overflow: hidden;
        border-bottom: 1px solid $white;

        &--narrow {
            position: relative;
            width: 22%;
            display: inline-block;
            vertical-align: top;

            margin: {
                left: 1%;
                right: 1%;
            }
            padding: 12px;
            padding-bottom: 60px;
            border: 3px solid $primaryColor;

            clear: none;
            min-height: 700px;

            @include mq(1000px) {
                width: 47%;
                min-height: 685px;
            }

            @include mq(600px) {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 20px;
                float: none;
            }

        }


        img {

            float: left;
            width: 40%;
            height: auto;

        }

        &--past {
            @include opacity(0.5);
        }

    }

    &__buttons {

        width: 100%;
        padding-top: 40px;
        overflow: hidden;

    }

    &__content {

        width: 80%;
        text-align: left;
        clear: both;
        float: right;
        padding-top: 15px;
        padding-left: 10px;
        // @include font-size($p-size);

        &--wide {
            width: 100%;
            padding-left: 0;
            margin-top: 10px;

            border-top: 1px solid $white;
        }

        .button__button {

            float: right;
            padding: 10px 0;
            margin-left: 20px;
            width: 150px;
            text-align: center;
            @include font-size(16);
            line-height: normal;

            &--wide {
                width: 90%;
                position: absolute;
                bottom: -3px;
                margin: 0;

                background-color: $primaryColor;
                color: $white;
                left: 5%;
            }

            &--narrow {
                @include mq($mq-tab) {
                    margin-bottom: 20px;
                }

                @include mq($mq-mob--lrg) {
                    margin: 0;

                    @include width(2, 2%);
                    float: left;
                }
            }
        }

        @include mq($mq-mob--lrg) {
            width: 100%;
            padding: 20px 0 0 0;
        }

    }

    &__date {

        display: inline-block;
        vertical-align: top;
        width: 25%;
        margin-right: 2%;
        border: none;
        padding: 0 10px 0 0;
        text-align: center;

        &--small {
            width: 18%;
            margin-right: 2%;
            border-right: 1px solid $secondaryFontColor;

            @include mq($mq-mob--lrg) {
                width: 25%;
            }
        }

        &--wide {
            width: 25%;
            margin-right: 10%;
            padding:0 ;
            margin-top:0;

            border-right: 1px solid $white;

            text-align: left;
        }

        @include mq($mq-mob--lrg) {
            width: 35%;
        }

        p {
            color: $primaryFontColor;
            font-style: italic;
            @include font-size(47);
            line-height:50px;
            margin: 0;
            position: relative;
            top: -5px;

            .geronimo & {
                font-style: normal;
            }

        }

        span {

            text-transform: uppercase;
            color: $primaryFontColor;
            font-style: normal;

            @include font-size($milli-size);

            .geronimo & {
                color: $primaryFontColor;
            }

        }

        &--tertiary-color {
            p {
                color: $tertiaryColor;
                @include font-size(40);
            }

            span {
                font-family: $secondaryFont;
                color: $tertiaryColor;
            }
        }

    }

    &__title {

        display: inline-block;
        vertical-align: top;
        width: 70%;
        text-align: left;


        .events__title {

            width: 80%;
            padding-left: 10px;

            @include mq($mq-mob--lrg) {
                width: 73%;
            }

        }

        &--narrow {
            width: 55%;
            padding: 0;

            h5 {
                padding-top: 5px;
                font-style: italic;
                @include font-size(14);
            }
        }

        @include mq($mq-mob--lrg) {
            width: 60%;
        }

        a {
            color: $tertiaryFontColor;
        }

    }

    &__img {
        float: left;
        background: $primaryColor;
        position: relative;
        width: 40%;
        overflow: hidden;

        background-position: center;
        background-size: cover;

        &:after {

            content: '';
            padding-top: 70%;
            display: block;


        }

        img {

            position: absolute;
            width: 150%;
            height: auto;
            top: 50%;
            left: 50%;

            -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);

            .lt-ie9 & {

                top: 0;
                left: 0;
                width: 101%;

            }

            &.fit {

                top: 0;
                left: 0;
                width: 100%;

                -webkit-transform: translateX(0%) translateY(-0%);
                    -ms-transform: translateX(0%) translateY(-0%);
                        transform: translateX(0%) translateY(-0%);

            }


        }

        &--wide {
            width: 100%;
            height: 300px;

            img{
                width: 100%;
            }
        }

        @include mq($mq-mob--lrg) {

            width: 100%;
            margin-bottom: 20px;

        }

    }

    &__start {

        font-family: $secondaryFont;

    }

    &__disclaimer {

        max-width: 800px;

        font-size: 1.2rem;
        line-height: 2rem;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;
        font-family: "brandon-grotesque",Helvetica,Arial,sans-serif;
        width: 100%;
        padding-top: 45px;

    }


}
