.gallery {
    
    padding: 40px 0;
    
    h3 {
        
        margin-bottom: 40px;
        
    }
    
    &__content {
        
        overflow: hidden;
        
    }
    
    &__full {
        
        display: none;
        position: absolute;
        width: 100%;
        overflow: hidden;
        padding: 0 70px;
        max-width: 1000px;
        margin: 0 auto;
        left: 0;
        right: 0;
        
        &.active {
            
            display: block;
            z-index: 102;
            
        }
        
        @include mq($mq-mob--lrg) {
            
            padding: 0 15px;
            
        }
        
    }
    
    &__slider {
        
        display: none;
        background: $primaryColor;
        
        &.active {
            
            display: block;
            
        }
        
        img {
            
            opacity: 1;
            transition: 0.25s opacity ease-out;
            
        }
        
        img[zRS-src] {

            opacity: 0;

        }
        
    }
    
    &__nav {
        
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -43.5px;
        left: 0px;
        
        font-family: $fonticon;
        color: $primaryColor;
        
        @include font-size($hecto-size);
        
        &.next {
            
            right: 0px;
            left: auto;
            
        }
        
        &:hover {
            
            text-decoration: none;
            
        }
        
        @include mq($mq-mob--lrg) {
            
//            display: none;
            
        }
        
    }
    
        &__img {
            
            float: left;
            width: 50%;
            margin: 0 0 13px 0;
            padding: 0 10px;

            &:nth-child(3) {
                clear: left;
            }

            &--large {

                width: 50%;
                overflow: hidden;

                @include mq(500px) {
                    width: 100%;
                }

                &--right {
                    float: right;
                }

                &--left {
                    clear: left;
                    float: left;
                }

            }

            img {

                @include opacity(0);
                @include transition(all 1s);

                &.show {
                    @include opacity(1);    
                }

            }

            &--bg {
                padding: 0 10px;

                &__img {
                    display: block;
                    padding-bottom: 60%;
                    background-size: cover;
                    background-position: center;
                }

            }

        }

        &__section {

            float: left;
            width: 50%;

            @include mq(500px) {
                width: 100%;
            }
        }
    
}