.instagram {

	width: 100%;
	background: $tertiaryColor;

	&__block {

		@include width(5, 0%);
		float: left;

		position: absolute;
		top: 0;
		left: 0;

		visibility: hidden;

		&.zRS--slide {

			visibility: visible;

		}

		img {

			transition: opacity 0.25s;
			opacity: 1;

		}

		img[zRS-src] {

			opacity: 0;

		}

		&:first-child {

			position: relative;

		}
	}

	&__link {

		width: 50%;
		display: block;
		float: left;
		background: $secondaryColor;
		top: 0;
		right: 0;

		&--content {

			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			text-align: center;
			background: transparentize($white, 0.5);

			@include font-size(24);

			&--inner {

				position: absolute;
				width: 100%;
				left: 0;
				top: 50%;
				@include transform(translateY(-50%));

			}

			color: $primaryFontColor;

			p {

				margin-bottom: 20px;

				&.follow {

					@include font-size(16);
					text-transform: uppercase;
					margin-bottom: 0px;

				}

			}

		}

	}

	&__button {

		display: inline-block;
		background: $primaryColor;
		color: $secondaryFontColor;
		font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		width: 75%;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 15px;
		font-weight: bold;
		margin: 0 auto;
		line-height: 50px;

		&:hover {

			background: $secondaryFontColor;
			color: $primaryColor;

		}

	}

	&__slider {

		overflow: hidden;
		width: 100%;

	}

	&__large {

		img {

			width: 100%;
			height: auto;

		}

	}

	&__small {

		position: relative;
		img {

			width: 100%;
			height: auto;

		}

		a {

			float: left;
			width: 50%;
			position: relative;

			&:nth-child(3n+0) {

				clear: both;

			}

		}

	}

}