.map {
    
    overflow: hidden;
        
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.35) inset, 1px -3px 10px rgba(0, 0, 0, 0.35) inset;

    &__map {
        
        width: 100%;
        min-height: 300px;
        max-height: 535px;

        &:after {

            content: '';
            display: block;
            padding-top: 50%;

        }
        
    }
    
}