.menu {
    
    padding: 40px 0px;
    
    .geronimo & {
        
        padding: 0px 0px 40px 0;
        
    }
    
    .button__button {
                
        &.float {
            
            float: left;
            
        }
        
        @include width(3, 2%);
        line-height: initial;
        padding: 15px;
        margin-bottom: 2%;
        background: transparent;
        border-color: $quinaryColor;
        color: $quinaryColor;

        &.active,
        &:hover {
            background: $quinaryColor;
            color: $white;
        }
        
        @include mq($mq-tab) { 
        
            &:nth-of-type("3n+0") {
                
                margin-right: 2%;
                
            }
            
            @include width(2, 2%);
            margin-bottom: 20px;
            
        }
        
        @include mq($mq-mob--lrg) {
            
            @include width(1, 0%);
            margin-bottom: 20px;
            
        }
        
        .geronimo & {
         
            position: relative;
            margin-bottom: 100px;
            
            &:before {

                content: '';
                background-size: auto 80%;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                display: block;
                height: 100px;
                width: 100%;
                bottom: 50px;
                left: 0;
                color: $quinaryColor;
                font-family: $fonticon !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 80px;

                .lt-ie9 & {
                    display: none;
                }

            }

            &.food {

                &:before {

                    content: "h";

                }

            }

            &.drink {

                &:before {

                    content: "e";

                }

            }

            &.sunday {

                &:before {

                    content: "j";

                }

            }

            &.kids {

                &:before {

                    content: "g";

                }

            }

            &.brunch {

                &:before {

                    content: "b";

                }

            }
            
        }
        
    }
    
    &__nav {
            
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        overflow: hidden;
        
        .geronimo & {
            
            padding-top: 100px;
            
        }
        
    }
    
    &__cat-title {
        
        border-bottom: 5px solid $quinaryColor;
        padding-bottom: 5px;
        margin-bottom: 25px;
        padding-top: 20px;

        .menu__entry--info {
            margin-bottom: 0;
        }

        h3 {
            margin:0;
            width: 79%;
            display:inline-block;
        }
        
    }
    
    &__container {

        border: 2px solid $primaryColor;

        @include mq($mq-tab) { 
            padding: 20px;
        }
        
        &--sub {
            
            padding: 40px 80px 0px 80px;
            
            -webkit-transition: opacity 0.1s ease-out;
                -ms-transition: opacity 0.1s ease-out;
                    transition: opacity 0.1s ease-out;
            
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            
            &:first-child {
                
                position: relative;
                visibility: visible;
                
            }
            
            &.zRS--slide {
                
                visibility: visible;
                
            }
            
            @include mq($mq-tab) {
        
                padding: 40px 0 0 0;

            }
            
        }
        
    }
    
    &__entry {
        
        overflow: hidden;
        
        &--info {
            
            width: 20%;
            text-align: right;
            vertical-align: bottom;
            display: inline-block;

            margin-bottom: 1rem;

            
            p {
                width: 33%;
                float: left;
                text-align: center;
                margin: 0;
            }

            @include mq(680px){
                width: 50%;
                float:none;
                p {
                    text-align: left;
                }
            }
        }
        
        &--description {
            
            float: left;
            width: 80%;

            
            p {
                
                @include font-size($base-font-size);
                margin-bottom: 15px;
                
                &.title {
                    
                    @include font-size($delta-size);
                    font-style: normal;
                    margin-bottom: 0px;
                    
                }
                
            }
            
        }
        
    }
    
}
