.testimonial {

    &__region {

        width: 100%;
        max-width: 640px;

        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;

    }
    
}